<div *ngIf="artist">
  <header>
    <div *ngIf="artist.images.length > 0">
      <img class="img-circle artist-thumb" src="{{artist.images[0].url}}">
    </div>
    <div class="container">
      <h3>{{artist.name}}</h3>
      <p *ngIf="artist.genres.length > 0">
      <span *ngFor="let tag of artist.genres"> {{tag}} |</span>
      </p>
    </div>
  </header>

  <div class="diving-line col-md-12">

  </div>

  <div class="artist-albums">
    <div class="row">
      <div *ngFor="let album of albums">
          <div class="col-md-3">
            <div class="album-well">
              <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}" />
              <h5>{{album.name}}</h5>
              <a class="btn btn-default btn-block btn-album" routerLink="/album/{{album.id}}">Go Album</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
